/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Custom CSS */
/* HOME PAGE*/
body{
   background-image: url(Images/curtain.png);
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}

ul li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
/* HOME PAGE*/

body{
    background-image: url(Images/curtain.png);
    background-repeat: no-repeat;
    background-color: #800000;
    background-attachment: fixed;
    margin: auto;
    background-size: cover;
}

header {
    background-color: rgba(245, 245, 245);
    padding: 30px 0;
}

nav ul {
    margin-right: 1.5%;
}

nav ul li a{
    margin: 0 10px;
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #ad1313;
    font-weight: bold;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

h2, p, button, ::placeholder, a {
    font-family: 'Poppins', sans-serif;
}

main h1{
    text-align: center;
    color: floralwhite;
    padding-top: 15vh;
}

#center{
    background-color: rgba(245, 245, 245);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 35vh 0vh;
    padding: 7% 15%;
}

.center-images img {
    display: none;
}

#center h2 {
    text-align: center;
    font-weight: bold;
    color: #af1313;
}

#movie-title{
    height: 3em;
}

#movie-form {
    padding: 7% 0;
    display: flex;
}

button {
    background-color: #810000;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 1.5%;
}

footer {
    background-color: #f5f5f5;
    padding: 10px;
}

footer, p {
    display: flex;
    justify-content: space-around;
    color: #af1313;
    font-weight: bold;
}

@media (min-width: 400px) {
    footer, p {
        justify-content: space-between;
    }
}

@media (min-width: 750px) {
    header {
        padding: 40px 0;
    }
    ul {
        justify-content: right;
        padding: 0 20px;
        margin-top: -4%;
    }
    h1 {
        text-align: left;
        padding-left: 2.5%;
        font-size: 3em;
    }
    #center h2 {
        font-size: 1.8em;
    }
    #movie-form {
        display: flex;
        justify-content: center;
    }
    #movie-title {
        width: 250px;
    }
}

@media (min-width: 900px) {
    #center h2 {
        font-size: 2em;
}
}

@media (min-width: 1000px) {
    .center-images img {
        display: block;
        width: 170px;
    }
    .center-images {
        display: flex;
        justify-content: space-between;
        margin: -60px -270px -130px
    }
}

@media (min-width: 1300px) {
    header {
        padding: 55px 0;
    }
    h1 {
        font-size: 4em;
    }
    nav a {
        font-size: 1.3em;
    }
    .center-images {
        margin: -90px -420px -160px;
    }
    .center-images img {
        width: 200px;
    }
}

@media (min-width: 1600px) {
    header {
        padding: 70px 0;
    }
    .center-images {
        margin: -130px -550px -220px;
    }
}

@media (min-width: 1800px) {
    header h1 {
        margin-bottom: 20px;
    }
    .center-images {
        margin: -100px -635px -195px;
    }
}

/***** Film-Info Styling *******/


#film-info p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 2% 15px;
}

#film-info h2 {
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 20px 15px;
}

#film-info img {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    #film-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #film-info img {
        width: 450px;
    }

}
@media (min-width: 900px) {
    #film-info p {
        max-width: 550px;
    }
}


/***** Theaters-Info Styling *******/
#theaters{
    display: grid;
    padding: 50px;
    gap: 20px;
    color: white;
}

#theaters > div{
    display: flex;
}

#theaters img{
    padding-right: 20px;
    max-width: 25%;
}

/****** STICKY FOOTER START ******/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
  .site-content {
    flex: 1;
}

/* ABOUT PAGE */
aside {
    background-color: white;
    max-width: 90%;
    margin: 30px auto;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

aside p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: black;
}

aside ul{
    background-color: white;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
}