/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Custom CSS */
/* HOME PAGE*/
body{
    background-image: url(Images/curtain.png);
    background-repeat: no-repeat;
    background-color: #800000;
    background-attachment: fixed;
    margin: auto;
    background-size: cover;
}

header {
    background-color: rgba(245, 245, 245);
    padding: 30px 0px 30px 15px;
}

nav ul {
    margin-right: 1.5%;
}

ul {
    display: flex;
    justify-content: flex-end;
}

ul li {
    padding: 0 20px;
    margin-top: -1%;
}

li a {
    text-decoration: none;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

p, button, ::placeholder, a {
    font-family: 'Poppins', sans-serif;
}

#center{
    background-color: rgba(245, 245, 245);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 35vh 0vh;
    padding: 7% 15%;
}

#center p {
    font-size: 1.5em  
}

#movie-title{
    height: 3em;
}

#movie-form {
    padding: 7% 0;
}

button{
    background-color: #810000;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #f5f5f5;
    padding: 10px;
    bottom: 0;
}

footer, p {
    display: flex;
    justify-content: space-between;
}

/****** STICKY FOOTER START ******/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }
  /****** STICKY FOOTER END ******/

  /* In Theathers Page */
  .theaters{
    padding: 30px;
  }
  .theaters h1{
    color: #f5f5f5;
  }