/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Custom CSS */
/* HOME PAGE*/
body{
    background-image: url(Images/curtain.png);
    background-repeat: no-repeat;
    background-color: #800000;
    background-attachment: fixed;
    margin: auto;
    background-size: cover;
}

header {
    background-color: rgba(245, 245, 245);
    padding: 30px 0;
}

nav ul {
    margin-right: 1.5%;
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2rem;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #ad1313;
    font-weight: bold;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

h2, p, button, ::placeholder, a {
    font-family: 'Poppins', sans-serif;
}

#center{
    background-color: rgba(245, 245, 245);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 35vh 0vh;
    padding: 7% 15%;
}

.center-images img {
    display: none;
}

#center h2 {
    text-align: center;
    font-weight: bold;
    color: #af1313;
}

#movie-title{
    height: 3em;
}

#movie-form {
    padding: 7% 0;
    display: flex;
}

button {
    background-color: #810000;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 1.5%;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    background-color: grey;
}

footer {
    background-color: #f5f5f5;
    padding: 10px;
}

footer p {
    color: #af1313;
    font-weight: bold;
}

footer, p {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 400px) {
    footer, p {
        justify-content: space-between;
    }
}

@media (min-width: 750px) {
    header {
        padding: 40px 0;
    }
    ul {
        justify-content: right;
        padding: 0 20px;
        margin-top: -4%;
    }
    ul li {
        margin: 0 8px;
    }
    h1 {
        text-align: left;
        padding-left: 2.5%;
        font-size: 3em;
    }
    #center h2 {
        font-size: 1.8em;
    }
    #movie-form {
        display: flex;
        justify-content: center;
    }
    #movie-title {
        width: 250px;
    }
    }

    @media (min-width: 900px) {
        #center h2 {
            font-size: 2em;
    }
}

@media (min-width: 1000px) {
    .center-images img {
        display: block;
        width: 170px;
    }
    .center-images {
        display: flex;
        justify-content: space-between;
        margin: -60px -270px -130px
    }
}

@media (min-width: 1300px) {
    header {
        padding: 55px 0;
    }
    h1 {
        font-size: 4em;
    }
    nav a {
        font-size: 1.3em;
    }
    .center-images {
        margin: -90px -420px -160px;
    }
    .center-images img {
        width: 200px;
    }
}

@media (min-width: 1600px) {
    header {
        padding: 70px 0;
    }
    .center-images {
        margin: -130px -550px -220px;
    }
}

@media (min-width: 1800px) {
    header h1 {
        margin-bottom: 20px;
    }
    .center-images {
        margin: -100px -635px -195px;
    }
}

/***** Film-Info Styling *******/

#film-info p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 2% 15px;
}

#film-info h2 {
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 20px 15px;
}

#film-info img {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    #film-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #film-info img {
        width: 450px;
    }
}
    @media (min-width: 900px) {
    #film-info p {
        max-width: 550px;
    }
}

/***** Theaters-Info Styling *******/
#theaters {
    display: grid;
    padding: 50px;
    gap: 40px;
    color: white;
}
#theaters h2 {
    text-align: center;
}
#theaters > div {
    display: grid;
    justify-items: center;
    gap: 20px;
}
#theaters img {
    padding-right: 20px;
    max-width: 100%;
}
#theaters p {
    padding-top: 10px;
    color: white;
    text-align: center;
}
@media (min-width: 900px) {
    #theaters > div {
        grid-template-columns: repeat(2, 1fr);
        width: 650px;
        margin: 0 auto;
    }
    #theaters h2 {
        text-align: left;
    }
    #theaters p {
        text-align: left;
    }
    div h2 {
        padding-top: 8px;
    }
}

/***** About Styling *******/
.about {
    padding: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.about h1,
#theaters h1 {
    color: white;
    padding-bottom: 20px;
}
.about p {
    color: white;
    text-align: center;
}
.about aside {
    padding-bottom: 40px;
}
aside h2 {
    padding-bottom: 10px;
}
aside h2, aside ol {
    text-align: center;
}
ol li {
    padding: 5px 0;
}
.about-page-images figure img {
    max-width: 100%;
    padding: 10px 0;
}
@media (min-width: 530px) {
    .about-page-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-page-images img {
        width: 414px;
    }
}
@media (min-width: 750px) {
    .about {
        margin-top: 15px;
    }
    .about p, .about h2, .about ol {
        text-align: left;
        margin-left: 15px;
    }
.about-page-images {
    align-items: flex-end;
    margin: -219px 18px 0px 0px
    }
}
@media (min-width: 900px) {
    .about p, .about h2, .about ol {
        margin-left: 25px;
    }
}

@media (min-width: 1050px) {
    .about p {
        width: 500px;
    }
    .about-page-images {
        margin: -324px 1px 0px 0px;
    }
}
@media (min-width: 1200px) {
    .about aside p {
        margin-top: 10px;
    }
    .about {
        margin-top: 50px;
    }
    .about-page-images {
        margin-right: 65px;
    }
}
@media (min-width: 1300px) {
    .about aside {
        margin-left: 100px;
    }
    .about aside p, .about aside ol {
        font-size: 1.3em;
    }
    .about-page-images {
        margin: -409px 100px 0px 0px;
    }
}
@media (min-width: 1450px) {
    .about aside {
        margin-left: 100px;
    }
    .about p, .about h2, .about ol {
        margin-left: 30px;
    }
    .about-page-images {
        margin-right: 230px;
    }
}
@media (min-width: 1550px) {
    .about aside {
        margin-left: 200px;
    }
    .about-page-images {
        margin-right: 215px;
    }
}
@media (min-width: 1650px) {
    .about aside {
        margin-left: 300px;
    }
    .about-page-images {
        margin-right: 225px;
    }
}
@media (min-width: 1850px) {
    .about aside {
        margin-left: 400px;
    }
    .about-page-images {
        margin-right: 390px;
    }
}

/****** STICKY FOOTER START ******/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }
  /****** STICKY FOOTER END ******/